body{
        width: 100vw;
        height: 100vh;
        background-color: #121214;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        padding: 2em;
}


h1,h2{
        color: white;
        margin: 2rem 0;
}

form{
        display: flex;
        gap: 0.75rem;

        input{
                width: 280px;
                background-color: #1b1b1b;
                color: #fff;
                
                border-radius: 0.5rem;
                padding: 1.90em;
                
                display: flex;
                border: 0;
                outline: 0; 
                   
        }
        
                
                
}


button{
        width:90px;
        border: none;
        border-radius: 10px;
        
        color: #fff;
        background-color: blueviolet;

}

& ul{
        margin-top: 3.2rem;
        list-style: none;
        margin-left: -2.5rem;
     
        & li{
                padding: 1.56em;
                border-radius: 0.5rem;

                display: flex;

                color: #fff;
                background-color: #1b1b1b;

                margin-top: 1rem;

        }
        
        :hover{
                opacity: 0.5;
                transition: 0.3s ease;
        }

}
.input-error,.input-error:focus{
        border-color: #e21a43;

}   

.trocarDecor{
        background-color: #e21a43;
}
